@media(max-width:1440px) {
    .first_page {
        padding: 90px 150px;
    }

    .sec_page {
        height: 650px;
    }

    .xleb {
        width: 650px;
    }
}

@media(max-width:1200px) {
    .first_page {
        padding: 75px 100px;
    }

    .green {
        height: 50%;
    }

}

@media(max-width:992px) {
    .first_page {
        height: fit-content;
        padding: 50px 100px;
    }

    .left {
        width: 100%;
        height: 100%;
    }

    .sec_page {
        height: 500px;
    }

    .xleb {
        width: 550px;
        position: absolute;
        top: 150px;
    }
}

@media(max-width:768px) {
    .first_page {
        padding: 50px;
    }

    .green {
        display: none;
    }

    .for_textleft {

        background-color: rgb(254, 201, 1);
    }

    .for_title h1 {
        font-weight: 900;
        font-size: 35px;
    }
}

@media(max-width:567px) {
    .first_page {
        padding: 30px;
    }

    .for_textleft h1 {
        font-size: 28px;
    }

    .for_textleft p {
        font-size: 15px;
    }

    .for_textleft button {
        font-size: 14px;
    }
    .xleb {
        top: 0;
        z-index: -1;
    }
    .sec_page {
        height: 300px;
        display: flex;
        align-items: center;
        padding: 30px;
    }
    .xleb {
        width: 400px;
    }
    .for_title {
        height: 100%;
    }
    .for_title h1 {
        font-weight: 600;
        font-size: 30px;
    }
    .for_title button {
        font-size: 14px;
    }
}
@media (max-width:425px) {
    .xleb {
        display: none;
    }
    
}