@media (max-width:1440px) {
    .first_page {
        padding: 30px 150px;
    }

    .orange {
        width: calc(100% - 200px);
        left: 100px;
    }

    .nav_bar {
        padding: 7px 150px;
    }

    .for_content h1 {
        font-size: 70px;
        font-weight: 100;
        margin: 0;
    }

    .third_page {
        padding: 0 150px;
    }

    .forth_page {
        padding: 0 150px;
        padding-top: 50px;
    }
}

@media (max-width:1200px) {
    .first_page {
        padding: 30px 150px 0px 150px;
    }

    .third_page {
        height: 500px;

    }

    .orange {
        height: 530px;
    }

    .for_textt h2 {
        font-size: 22px;
    }
}

@media (max-width:992px) {
    .third_page {
        height: 450px;
    }

    .sec_page {
        height: 600px;
    }

    .for_title1 {
        height: 20%;
    }

    .boxs1 {
        width: calc(50% - 11px);
        height: calc(33.3% - 13px);
    }

    .boxs2 {
        width: calc(50% - 11px);
        height: calc(33.3% - 14px);
    }

    .boxs3 {
        width: calc(50% - 12px);
        height: calc(33.3% - 13px);
    }

    .boxs4 {
        width: calc(50% - 11px);
        height: calc(33.3% - 13px);
    }

    .boxs5 {
        width: calc(50% - 11px);
        height: calc(33.3% - 14px);
    }

    .boxs6 {
        width: calc(50% - 12px);
        height: calc(33.3% - 13px);
    }

    .for_boxs {
        height: 80%;
    }

    .forth_page {
        padding: 0 100px;
        transform: translateY(-50px);
        height: 1100px;
    }

    .for_content h1 {
        font-size: 60px;
        font-weight: 100;
        margin: 0;
    }

    .box {
        width: calc(50% - 10px);
        height: calc(20% - 16px);
    }

    .first_page {
        padding: 30px 100px 0px 100px;
        height: 1100px;
    }

    .third_page {
        padding: 0 100px;
    }

    .for_title {
        height: 15%;
    }

    .for_title h1 {
        margin-top: 0;
    }

    .orange {
        width: calc(100% - 100px);
        height: 680px;
        left: 50px;
        z-index: -9999;
    }

    .nav_bar {
        padding: 7px 100px;
    }

    .yellowbor {
        border: 2px solid rgba(0, 0, 0, 0.678);
    }

    .box1 {
        width: calc(50% - 10px);
        height: calc(20% - 16px);
        margin: auto;
    }
}

@media (max-width:768px) {
    .for_box {
        display: block;
        padding: 30px;
    }

    .boxs {
        width: 100%;
        height: calc(33.33% - 15px);
        display: flex;
        margin-bottom: 20px;
        gap: 20px;
    }

    .for_img {
        width: 70%;
        height: 100%;
    }

    .two_words {
        width: 30%;
        height: 100%;
        text-align: center;
        align-content: center;
    }

    .two_words h1 {
        margin: 0;
        font-size: 25px;
    }

    .for_content p {
        margin: 30px 0;
    }

    .first_page {
        padding: 20px 50px 0px 50px;
        height: 1200px;
    }

    .forth_page {
        padding-top: 50px;
        padding: 0 50px;
    }

    .third_page {
        padding: 0 50px;
    }

    .orange {
        width: calc(100% - 50px);
        left: 25px;
        top: 200px;
        height: 850px;
    }

    .nav_bar {
        padding: 7px 50px;
    }

    .for_title {
        height: 12%;
    }

    .ninetails {
        height: 78%;
    }

    .box1 {
        width: calc(75%);
    }
}

@media (max-width:567px) {
    .two_words h1 {
        font-size: 20px;
    }

    .third_page {
        height: 400px;
    }

    .for_box {
        transform: translateY(-130px);
        padding: 15px;
    }

    .sec_page {
        padding-top: 75px;
        align-items: start;
    }

    .for_content h1 {
        font-size: 50px;
        font-weight: 100;
        margin: 0;
    }

    .boxs1 {
        width: 100%;
        height: calc(16.6% - 17px);
    }

    .boxs2 {
        width: 100%;
        height: calc(16.6% - 17px);
    }

    .boxs3 {
        width: 100%;
        height: calc(16.6% - 17px);
    }

    .boxs4 {
        width: 100%;
        height: calc(16.6% - 17px);
    }

    .boxs5 {
        width: 100%;
        height: calc(16.6% - 17px);
    }

    .boxs6 {
        width: 100%;
        height: calc(16.6% - 17px);
    }
    .forth_page {
        height: 1500px;
    }
    .for_title1 {
        height: 16%;
    }
    .for_boxs {
        height: 84%;
    }
    .for_content p {
        font-size: 15px;
    }

    .box {
        width: 100%;
        height: calc(10%);
    }

    .title h1 {
        font-size: 27px;
    }

    .bar i {
        font-size: 30px;
    }

    .orange {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }

    .first_page {
        height: 1500px;
    }

    .for_title h1 {
        margin-bottom: 10px;
    }

    .box1 {
        width: 100%;
        height: 10%;
    }

    .for_title {
        height: 10%;
    }

    .ninetails {
        height: 83%;
        gap: 10px;
    }
}

@media (max-width:425px) {
    .for_content h1 {
        font-size: 40px;
    }

    .two_words h1 {
        font-size: 15px;
    }

    .for_content p {
        line-height: 1.5;
        font-size: 14px;
    }

    .for_content button {
        padding: 15px 30px;
        font-size: 14px;
    }

    .forth_page {
        padding-top: 50px;
        padding: 0 30px;
    }

    .first_page {
        padding: 30px 30px 0px 30px;
    }

    .third_page {
        padding: 0 30px;
    }

    .bar i {
        font-size: 26px;
    }

    .nav_bar {
        padding: 7px 30px;
    }

    .for_title h1 {
        font-size: 35px;
    }

    .for_title p {
        font-size: 15px;
    }

    .yellowbor {
        font-size: 15px;
        padding: 15px 30px;
    }
    .for_title1 h1 {
        font-size: 27px;
    }
    .for_title1 p {
        font-size: 15px;
    }
}